# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# local env files
.env
.env.local

# build output
/dist
/.next/
/out/

# vercel
.vercel

# sqlite database file
*.db
*.db-journal